<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="row">
            <div class="column">
                <table>
                    <tr>
                        <th>Rank</th>
                        {% for row in rows %}
                            <th>{{row}}</th>
                        {% endfor %}
                    </tr>
                    {% for idx, row in rushees1.iterrows() %}
                        {% if row["Strikes"]["val"] == 0 %}
                        <tr>
                            <td>{{idx + 1}}</td>
                            {% for col in row[:remove] %}
                                {% if col is mapping %}
                                    <td style="background-color: {{col["color"]}};">{{col["val"]}}</td>
                                {% else %}
                                    <td>{{col}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% elif row["Strikes"]["val"] == 1 %}
                        <tr>
                            <td>{{idx + 1}}</td>
                            {% for col in row[:remove] %}
                                {% if col is mapping %}
                                    <td style="background-color: {{col["color"]}};">{{col["val"]}}</td>
                                {% else %}
                                    <td class="strike1">{{col}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% else %}
                        <tr>
                            <td>{{idx + 1}}</td>
                            {% for col in row[:remove] %}
                                {% if col is mapping %}
                                    <td style="background-color: {{col["color"]}};">{{col["val"]}}</td>
                                {% else %}
                                    <td class="strike2">{{col}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="column">
                <table>
                    <tr>
                        <th>Rank</th>
                        {% for row in rows %}
                            <th>{{row}}</th>
                        {% endfor %}
                    </tr>
                    {% for idx, row in rushees2.iterrows() %}
                        {% if row["Strikes"]["val"] == 0 %}
                        <tr>
                            <td>{{idx + 1}}</td>
                            {% for col in row[:remove] %}
                                {% if col is mapping %}
                                    <td style="background-color: {{col["color"]}};">{{col["val"]}}</td>
                                {% else %}
                                    <td>{{col}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% elif row["Strikes"]["val"] == 1 %}
                        <tr class="strike1">
                            <td>{{idx + 1}}</td>
                            {% for col in row[:remove] %}
                                {% if col is mapping %}
                                    <td style="background-color: {{col["color"]}};">{{col["val"]}}</td>
                                {% else %}
                                    <td>{{col}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% else %}
                        <tr class="strike2">
                            <td>{{idx + 1}}</td>
                            {% for col in row[:remove] %}
                                {% if col is mapping %}
                                    <td style="background-color: {{col["color"]}};">{{col["val"]}}</td>
                                {% else %}
                                    <td>{{col}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="bottom">
            <form action="/" method="post">
                <select name="motion" id="motions">
                    <option value="jump">jump</option>
                    <option value="swap">swap</option>
                    <option value="drop">drop</option>
                    <option value="strike">strike</option>
                    <option value="lock">lock</option>
                    <option value="save">save</option>
                </select>
                <input name="rushee1" type="text" value="" placeholder="Rushee">
                <input name="optional" type="text" value="" placeholder="Optional Rushee or Location">
                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>
